<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>

<key>UndockedIconLabelStyle</key>
<string>color:black;text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);</string>

<key>DockedIconLabelStyle</key>
<string>color:black;text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);</string>

</dict></plist>
