<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BadgeStyle</key>
	<string>margin-left:0px;margin-top:4px;font-size:14px;font-weight:bold;color: #000000;</string>
	<key>CFBundleShortVersionString</key>
	<string>1.00</string>
</dict>
</plist>
